
.title-container{
    height: 200px;
    background-image: radial-gradient(circle, #4d005a, #271f5c, #022650, #07283e, #1c252a);
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 5px 5px rgba(130, 130, 130, 0.75);
}
.title-container h1{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 80pt;
    text-align: center;
    color: #0D9BCB;
}
.call-to-action{
    background-image: radial-gradient(circle, #4d005a, #271f5c, #022650, #07283e, #1c252a);
    text-align: center;
    height: 300px;
    padding:50px 0px;
    margin:25px 0px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px rgba(130, 130, 130, 0.75);
}
.call-to-action h1{
    text-align: center;
    padding-top: 75px;
    font-size: 50pt;
    margin-top:0px ;
    color: #eee;
}
.call-to-action a{
    padding: 10px 20px;
    background: red;
    border: 1px solid black;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;

}
.call-to-action a:hover{
    background:#1c252a;
    color: #0D9BCB;
}